*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    height: 100vh;
    width: 100vw; 
    background-color: black;
    color: white;
}  

#top {
    display: flex;
    padding: 20px 0px 10px 50px;
} 

#Search{ 
   position :absolute;
   right: 30px;
}

.head{
    padding-right: 30px; 
    font-size: 20px;
} 

#hid1{
    font-size: 25px;
} 
#S1{
    width: 300px;  
    height: 20px;
    padding-right: 0px; 
    border-radius: 4px;
} 

.mid{
    display: flex; 
    flex-direction: column;
    padding-top: 40px; 
    padding-left:50px ;
} 

.MidId{
    padding-bottom: 10px;
} 

#m2{
    font-size: 30px;
} 

.foot{
    padding-left: 50px;
    position: absolute;
    bottom: 100px;
}


.FootClass1 {
    display: flex;
    flex-direction: column; 
} 

#Days{
    font-size: 120px;
} 

.word1{
    align-self: center; 
    font-size: 20px;
}  

.FootClass2main{
    display: flex; 
    padding: 20px 0 0 0;
    gap: 20px;
} 

#Hours , #Minutes , #Seconds{
    font-size: 30px;
}



