body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(229, 224, 224);
}  

.form-container{
    border: 2px solid black ;
    padding: 30px;
    background-color: white;
    width: 300px; 
    border-radius: 20px;
} 

input,button{
    margin: 10px;
    width: 90%;
    border-radius: 5px;
    padding: 6px;
    font-size: 15px;

} 

h1{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}  

button{
    background-color: skyblue;
}



