*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
} 

button{
    height: 100px;
    width: 100px;
} 

#red{
    background-color: red;
}

#blue{
    background-color: blue;
} 

#orange{
    background-color: orange;
} 

#green{
    background-color: green;
} 

#purple{
    background-color: purple;
}