body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
} 

#grandParent{
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black; 
    background-color: green;
} 

#parent{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: red;
} 

#child{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: orange;
}