*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 


body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 183, 255);
} 

.container{
    /* border: 2px solid black; */
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(0, 166, 255);
   height: 16.5rem;
   width: 22rem;
   border-radius: 20px;
   text-align: center;
   box-shadow: 5px 5px;
}  

h1{
    color: aliceblue;
    font-size: 40px;
}

button{
    color: aliceblue;
    background-color: orange;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    box-shadow: 2px 2px black;
    border: orange;
    font-size: 15px;
}

#location{
    padding: 2px;
    font-size: 15px;
    width: 10rem;
    border-radius: 5px;
} 

#WeatherInfo{
    color: aliceblue;
    font-size: 18px;
    font-weight: bold;
}

button:hover{
    background-color: rgb(234, 153, 3);
}