body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center ; 
    background-color: rgb(235, 229, 229);
} 

#container{
    margin-top: 50px;
    border: 2px solid black;
    padding: 50px; 
    background-color: white;
    /* font-size: 20px;  */
    width: 600px; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
} 

p{
    font-weight: bold;
} 

button{
    width: 80%; 
    padding: 6px;
    font-size: 20px;
    margin: 20px 0px 0 0;
    color: white;
    background-color: rgb(0, 119, 255);
} 

#out{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}