body{
    margin: 0;
    padding: 0;
    background-color: rgb(58, 54, 54);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center; 

} 

#head{
    background-color: wheat;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
} 

#second{
    font-size: 30px;
} 

button{
    background-color: gray;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    margin: 10px;
} 

#result{
    font-size: 30px;
    font-weight: bold;
}