*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3d9ce9;
    flex-direction: column;
    
} 
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border: 2px black solid;   
    background-color: rgb(221, 229, 236);
    border-radius: 1rem;
}

.board{
    height: 28rem;
    width: 28rem;
    display: grid;
    
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    border-radius: 1.5rem;
    margin: 2rem;
    
} 

.box{
    height: 98%;
    width: 98%;
    border: 2px solid black;
    border-radius: .3rem; 
    margin-top: 1rem;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
} 

.box:hover{
    background-color:  rgb(198, 205, 211);
}

button{
    height: 3rem;
    width: 7.5rem;
    font-size: 1rem;
    border-radius: 5px;
    background-color: rgb(18, 175, 18);
   color: white;
   border-color: rgb(221, 229, 236);
} 

#result{

    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;

} 

h1{
    font-size: 4rem;
    font-weight: bold;
} 
